@model UseModel;
@{
    Layout = "~/Views/Shared/LayoutClean.cshtml";
}

<div class="text-center" id="PrintPageContent">
    <p>
        Declaro para os devidos fins que eu <strong>@Model.Client.Name</strong>
        CPF sob o n°@Model.Client.CPF, locatário dos espaços desta
        empresa, cumpri na data  o @Model.DateUse
        horário de @Model.StartUse horas às @Model.EndUse horas totalizando a quantidade
        de @Model.TotalUse horas neste dia.
    </p>
</div>

<div class="text-center">
    <p>
        _____________________________
    </p>
    <p>Assinatura</p>
</div>
