@model ClientModel;
@{
    ViewData["Title"] = "Update Page";
}

<div class="text-center">
    <h1 class="display-4">Editar cliente</h1>
    <section>
        <form asp-controller="Client" asp-action="UpdateClient" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="Name">Nome</label>
                <input asp-for="Name" id="AddInput" type="text" class="form-control" placeholder="@Model.Name">
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            <div class="form-group">
                <label for="CPF">CPF</label>
                <input id="AddInput" asp-for="CPF" type="tel" min="11" maxlength="11" class="form-control" placeholder="@Model.CPF" required>
                @Html.ValidationMessageFor(x => x.CPF)
            </div>

            <div class="form-group">
                <label for="Name">Telefone</label>
                <input asp-for="PhoneNumber" id="AddInput" type="tel" onkeyup="formatarTelefone(this)" class="form-control" maxlength="11" class="form-control" placeholder="@Model.PhoneNumber">
                @Html.ValidationMessageFor(x => x.PhoneNumber)
            </div>

            <button type="submit" class="btn btn-primary">Atualizar</button>
            <a role="button" class="btn btn-secondary" asp-controller="Client" asp-action="Index">Voltar</a>
        </form>
    </section>
</div>
